html{
	font-size: 1rem;

}

body{
    
	background: rgb(191,95,246);
	background: -moz-linear-gradient(30deg, rgba(191,95,246,1) 4%, rgba(255,165,251,1) 31%, rgba(251,189,112,1) 80%, rgba(255,230,113,1) 100%);
	background: -webkit-linear-gradient(30deg, rgba(191,95,246,1) 4%, rgba(255,165,251,1) 31%, rgba(251,189,112,1) 80%, rgba(255,230,113,1) 100%);
	background: linear-gradient(30deg, rgba(191,95,246,1) 4%, rgba(255,165,251,1) 31%, rgba(251,189,112,1) 80%, rgba(255,230,113,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bf5ff6",endColorstr="#ffe671",GradientType=1);
	
	min-height: 100vh;

}

/*Header*/

#logo{
	
	height: 6rem;

}

#logo_big{
	
	height: 10vh;
	
}

nav {
	
	background-color: #2d2d2d;
	
}

.navbar-dark a{
	
	color:white;
	
}

.navbar-dark #home{
	
	color: rgba(251,189,112,1);
	
}

.navbar-dark #produto{
	
	color: rgb(191,95,246);
	
}

.navbar-dark #quem{
	
	color: rgba(255,165,251,1);
	
}

.navbar-dark #contato{
	
	color: 	rgb(153, 117, 189);
	
}

/*Header - Fim*/



/*Jumbotron*/

.jumbotron{
		
	background-image: url("../img/arcade1.webp");
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	text-shadow: 3px 3px 10px #2d2d2d;
	border-style: solid;
	border-width: 0.5rem;
	border-color: #2d2d2d;
	
}

.jumbotron a:link{
	
	text-decoration: none;
	color: white;
	text-shadow: 3px 3px 10px #2d2d2d;
	
}

.jumbotron a:visited {
	
	text-decoration: none;
	color: white;
	text-shadow: 3px 3px 10px #2d2d2d;
	
}

.jumbotron a:hover {
	
	color: #F5F5F5;
	text-shadow: 3px 3px 10px grey;
	
}

.jumbotron a:active {
	
	color: white;
	text-shadow: 3px 3px 10px #2d2d2d;
	
}

.jumbotron h1{
	
	font-family: 'Rajdhani', sans-serif !important;
	
}

/*Jumbotron - Fim*/



/*Separador 1*/

hr.hr1{
	
	margin: 0;
	width: 100%;
	border-top: 10px solid #2d2d2d;
	
}

#s_hr{
	
	background-color: white;
	
}

/*Separador 1 - Fim*/



/*Quem Somos*/

#txt_quem{
	
	background-color: #2d2d2d;
	
}

#txt_quem p{
	
	padding: 10px;
	font-size: 1.6rem;
	
}

#txt_quem h1{
	
	padding: 10px;
	font-family: 'Rajdhani', sans-serif !important;
}

#txt_quem div{
	
	background-color: white;
	
}

#txt_quem img{
	
	padding: 10px;
	
}

#d_fundo{
	
	background-color: white;
	padding: 20px;
	
}

/*Quem Somos - Fim*/



/*Separador 2*/

hr.hr1{
	
	margin: 0;
	width: 100%;
	border-top: 10px solid #2d2d2d;
	
}

#s_hr2{
	
	background-color: white;
	
}

/*Separador 2 - Fim*/



/*Entre em Contato*/

#txt_cont{

	background-color: white;

}

#txt_cont div{
	
	background-color: white;
	padding: 10px;
}

#txt_cont fieldset{
	
	background-color: white;
	padding: 10px;
	
}

#txt_cont fieldset{
	
	padding: 10px;
	
}

#txt_cont h1{
	
	font-family: 'Rajdhani', sans-serif !important;
	
}

#bt_enviar, #bt_cancelar{

	background-color: #2d2d2d;
	color: white;
		
}

/*Entre em Contato - Fim*/



/*Rodapé*/

footer{
	
	background-color: #2d2d2d;
	
}

footer div{
	
	background-color: #2d2d2d;
	
}

#div_f{
	
	padding: 20px;
	
}

#social_icons{
	
	display:grid;
	grid-template-columns: auto auto auto auto auto auto;
	grid-template-rows: auto;
	grid-gap: 1rem;
	justify-content: center !important;
	padding-left: 10px;
	
}

#rodape_texto{
	
	display:grid;
	grid-template-columns: auto;
	justify-content: start !important;
	align-content: start;
	
}

footer h4{
	
	color: white;
	
}


.fa {
  padding: 20px !important;
  font-size: 30px !important;
  /*width: 50px !important;*/
  text-align: center !important;
  text-decoration: none !important;
  
}

.fa:hover {
	opacity: 0.7;
	text-decoration: none;
}

.fa-facebook {
	background: #3B5998;
	color: white;

}

.fa-twitter {
	background: #55ACEE;
	color: white;
}

.fa-youtube {
	background: #bb0000;
	color: white;
}

.fa-instagram {
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
	background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
	color: white;
}

.fa-whatsapp {
	background: #25d366;
	color: white;
}

#scrolltop img{
	
	position: fixed;
	bottom: 30px;
	right: 8px;
	
}

/*Rodapé - Fim*/
